body {
    background-color: #FFF;
    margin: 0 auto;
  }
  
  header {
    background-color: #12700e;
    border-bottom: 1px solid #466995;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  
  .navbarul{
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
  }
  
  .navbarli {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    display:inline-block;
    width: 230px;
    cursor: pointer; 
  }
  

.navbarli:hover {
    color: #DBE9EE;
}

 h1{
    background-image: url("https://img.lemde.fr/2008/03/02/226/0/2400/1200/1440/720/60/0/ill_1017933_ping.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
	display: block;
    padding: 140px 10px 140px 10px;
	color: rgb(255, 255, 255);
	margin: 0 auto;
    font-size: 25px;
	text-align: center;
	font-style: normal;
	width: 80%;
	border-width: 10px 10px 3px;
    margin-bottom: 10px;
    text-transform: uppercase;
    cursor: pointer
}

h2{
    background-image: url("https://cdn.vox-cdn.com/thumbor/WWjejvIBC-mke_v0fYU_tYbfjX0=/0x0:1440x810/1200x800/filters:focal(723x0:953x230)/cdn.vox-cdn.com/uploads/chorus_image/image/63030116/1819Rug_Mirhashem_v_ASU_1920x1080_D5A_7135_RobEdwards.0.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
	display: block;
    padding: 140px 10px 140px 10px;
	color: #FFF;
	margin: 0 auto;
    font-size: 25px;
	text-align: center;
	font-style: normal;
	width: 80%;
	border-width: 10px 10px 3px;
    margin-bottom: 10px;
    text-transform: uppercase;
    cursor: pointer
}

h3{
    background-image: url("https://www.superprof.fr/blog/file/2018/04/femme-boxe-entrainement.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
	display: block;
    padding: 140px 10px 140px 10px;
	color: #FFF;
	margin: 0 auto;
    font-size: 25px;
	text-align: center;
	font-style: normal;
	width: 80%;
	border-width: 10px 10px 3px;
    margin-bottom: 10px;
    text-transform: uppercase;
    cursor: pointer
}
    
ol {counter-reset: liste;}

.listbarli {
	list-style-type: none;
	counter-increment: liste; 
	margin-bottom: 10px;
}
.listbarli:before {
	content: counter(liste); 
	padding: 0 20px 6px;
	margin-right: 8px;
	vertical-align: top;
	background: #678;
	-moz-border-radius: 60px;
	border-radius: 60px;
	font-weight: bold;
	font-size: 0.8em;
	color: white;		
}

 
