<!DOCTYPE html>
<html>
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">
    <link href="/static/main.css" type="text/css" rel="stylesheet">

    <title>Balance ton IMC</title>
    
    </head>

<body>
    <header>
        <ul>
            <li> Accueil </li>
            <li> Calcul IMC </li>
            <li> Packages </li>
            <li> Blog santé</li>
            <li> A propos</li>
        </ul>
    </header>
    {{{body}}}
</body>

</html>