<div class="row">
    <div class="col">
        <h2 class="titre-article">Demain, je m’y mets! 10 astuces pour devenir sportif rapidement</h2>
    </div>
    <div class="col">
        <h2 class="titre-article">Super-ingrédients : mythe ou réalité?</h2>
    </div>
    <div class="col">
        <h2 class="titre-article">Régime paléo : demain, tous cro-magnon?</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <img src="https://www.parisinfo.com/var/otcp/sites/images/node_43/node_51/node_232/running-sur-piste-%7C-630x405-%7C-%C2%A9-fotolia/15674136-1-fre-FR/Running-sur-piste-%7C-630x405-%7C-%C2%A9-fotolia.jpg"
            class="rounded" height="200px" ;>
        <h4 class="date-de-publication">Publié le 30 mai</h4>
    </div>
    <div class="col">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf7DX6tCToPnXVV3I1yZw_GofOce32_JRZINL-7bCpPaqdrg-C"
            class="rounded" height="200px" ;>
        <h4 class="date-de-publication">Publié le 23 mai</h4>
    </div>
    <div class="col">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjDd_DmM_5DYJ9aXRJl4niniZEbnCPJkZnBNThKYskTe4hzDsq5w"
            class="rounded" height="200px" ;>
        <h4 class="date-de-publication">Publié le 20 mai</h4>
    </div>
</div>