<link href="/static/index.css" type="text/css" rel="stylesheet">
<div id="header">>
    <div class="container">
        <h1>Balance ton IMC</h1>
        <a class="btn" href="#"><Strong>Découvrez votre IMC</Strong></a>
    </div>
</div>