<head>
    <title>Balance ton IMC</title>
    <link href="/static/index.css" type="text/css" rel="stylesheet">
</head>

<body>
    <header>
        <ul>
            <li> Accueil </li>
            <li> Calcul IMC </li>
            <li> Packages </li>
            <li> Blog santé</li>
            <li> A propos</li>
        </ul>
    </header>

    <div class="header">
        <div class="container">
            <h1>Balance ton IMC</h1>
            <a class="btn" href="#"><Strong>Découvrez votre IMC</Strong></a>
        </div>
    </div>
</body>
